<nav class="navbar" [class.scrolled]="scrolled">
  <div class="navbar__logo">
    <a routerLink="/">GameBox</a>
  </div>

  <ul class="navbar__links" [class.active]="isMenuOpen">
    <li><a routerLink="/explore">Jeux</a></li>
    <li><a routerLink="/watchlist">Membre</a></li>
  </ul>

  <div class="navbar__actions">
    <button class="navbar__toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
    </button>
    <a routerLink="/login" class="navbar__login">Log in</a>
  </div>
</nav>
