<div class="layout">
  <footer class="footer">
    <div class="footer__container">
      <span class="footer__text">
        © 2025 <a href="" class="footer__link">GameBox</a>. All Rights Reserved.
      </span>
  
      <ul class="footer__list">
        <li><a href="#" class="footer__link">About</a></li>
        <li><a href="#" class="footer__link">Privacy Policy</a></li>
        <li><a href="#" class="footer__link">Licensing</a></li>
        <li><a href="#" class="footer__link">Contact</a></li>
      </ul>
    </div>
  </footer>
</div>
